<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="/static/storm.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>

  function slotclick(value){
      // Check if Blue
      if(($('#slot'+value).css('background-color')) == 'rgb(60, 170, 214)'){
      // Set Green while selecting
      $('#slot'+value).css('background-color','rgb(4,203,14)');
      $('#slot'+value).css('border','2px solid rgb(4,128,14)');
      }
      // If Green
      else if (($('#slot'+value).css('background-color')) == 'rgb(4, 203, 14)'){
        // Toggle back to blue
        $('#slot'+value).css('background-color','rgb(60,170,214)');
        $('#slot'+value).css('border','2px solid rgb(37,167,199)');
      }
      
      // alert($('#res_date').val());
    }

  function res_date_chosen(){
    // alert($('#res_date').val());

    for(var i=0;i<25;++i){
      // Set Blue
      $('#slot'+i).css('background-color','rgb(60, 170, 214)');
      $('#slot'+i).css('border','2px solid rgb(37,167,199)');
      $('#slot'+i).prop('disabled',false);
    }

    $.post('/get_registration/',{
      date_reserved:$('#res_date').val(),
      cluster_number: $('#selectlist_cluster option:selected').val(),
      pagename:'reserve'

  },function(result,status){
        data_formatted=$.parseJSON(result);
        var blocked_slots=data_formatted['slotsreserved'].split(',');
        var list_of_nodes = data_formatted['listofnodes'];
        for (var i=0; i< blocked_slots.length; i++){
          // RED
          $('#slot'+blocked_slots[i]).css('background-color','#FA5858');
          $('#slot'+blocked_slots[i]).css('border','2px solid #8A0808');
          $('#slot'+blocked_slots[i]).prop('disabled',true);
        }
        var html='<div id ="node_list">List of Nodes in cluster: '+list_of_nodes+'</div>';
        $('#node_list').replaceWith(html);
      });
  }


  function reserve(){
      var slotsreserved=[];

      for(var i=0;i<25;++i){
        if (($('#slot'+i).css('background-color')) == 'rgb(4, 203, 14)'){
          slotsreserved.push(i);
        }
    }
    if(slotsreserved.length==0){
      alert("Select a slot");
    }else{
      $('#reserveButton').prop('disabled',true);
    $.post('/reserve_slot/',{date:$('#res_date').val(),clusternumber:$('#selectlist_cluster option:selected').val(),slots:slotsreserved+""},function(result,status){
      window.location.href="/waiting"
    });
  }
  }  

    $(document).ready(function(){

      $.post('/get_registration/',{
        date_reserved:'{{server_date}}',cluster_number:'1',pagename:'reserve'
    },function(result,status){
        data_formatted = $.parseJSON(result);
        var blocked_slots=data_formatted['slotsreserved'].split(',');

        var cluster_numbers = data_formatted['clusternumbers'];
        var list_of_nodes = data_formatted['listofnodes'];
        var html = '<select id="selectlist_cluster" onchange="res_date_chosen()">';

        for(var i=0;i<cluster_numbers.length;i++){
          html+='<option value = "'+cluster_numbers[i]+'">'+cluster_numbers[i]+'</option>';
        }
        html+='</select>';
        $(html).appendTo('#select_cluster');
        $('#node_list').append(list_of_nodes);
        for (var i=0; i< blocked_slots.length; i++){
          // RED
          $('#slot'+blocked_slots[i]).css('background-color','#FA5858');
          $('#slot'+blocked_slots[i]).css('border','2px solid #8A0808');
          $('#slot'+blocked_slots[i]).prop('disabled',true);
        }
      });
      
      //Table for Reservations
      // var titledata = [['NodeNum', 'Status',]];
      var slot_values = ["0000"];

      for(var i = 1; i<25; i++){
        if (i < 10){
          slot_values.push("0"+i+"00");
        }

        else if (i == 24){
          slot_values.push("0000");
        }

        else 
          slot_values.push(i+'00');

        
      }
      // alert(slot_values);

      var html = '<table><tbody>';
      for (var i = 0, n=1, rowNum = 4; i < rowNum; ++i) {
        html += '<tr>';
        for (var j = 0, colNum = 6; j < colNum; ++j,++n ) {
         
            html += '<td><button class="slotButton" onclick="slotclick('+n+')" id="slot'+n+'" title="slot'+n+'">'+ slot_values[n-1] +'-'+ slot_values[n] +'</button></td>';
          
        }

        html += "</tr>";
        }

      html += '</tbody></table>';
      $(html).appendTo('#res_table');

    });
      </script>
  </head>



  <body>
  <div class="container reserve-container">
    <div class="reserve-box">
      
   <div class="header">
        <h1>Reserve a slot!</h1>
   </div>
      
      <div>
        Choose a date:
        <input type="date" id="res_date" value="{{server_date}}" onchange="res_date_chosen()">   </input>
      </br>
        
        <div id="select_cluster">Choose a cluster: </div> 
        <div id ="node_list">List of Nodes in cluster: </div>

        </br>
        <center>
        <div id="res_table">(Begin Time - End Time in 24hr format)</div>
      </br>
      
      
      <button id="reserveButton"class="formButton" title="Reserve" onclick="reserve()">Reserve slots</button>
      <button id="Signout" onclick="window.location.href='/signout'" class="formButton" title="Logout">Logout</button>
      </div>
      </center>     
      
    </div>     
  </body>
</html>
 