 html,body {
        height: 100%;
        font-family:"Open Sans";
        background-color: #F0F4F8;
        line-height: 1.428571429;
        color: #333;
        margin:0;
        display:block;
      }

@media (max-width: 767px) {
  html,
  body {
    padding: 0 4px;
  }
}
*,*:before,*:after{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
  box-sizing:border-box;
}

@media screen and (orientation: portrait) {
  img.ri { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 90%; }
}


img.resize{
    padding: 20px;
    max-width:60%; 
    height: auto;
}
h1{
  font-weight: 600;
  font-size: 31px;
  text-align: center;
  margin-bottom: 45px;
}
h2{
  font-family:"Open Sans";
  font-weight: 300;
  font-size: 21px;
  margin-bottom: 10px;
}

h6{
  font-family:"Open Sans";
  font-weight: 600;
  font-size: 15px;
  margin:0px;
}
body,
div,
p,
a,
label {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  /*color: #484848;*/
}
a {
  color: #0072dd;
}
p {
  line-height: 21px;
}
.container {
  max-width: 720px;
}

.box {
  box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #cacaca;
  border-radius: 3px;
  padding: 0 30px;
}
.reserve-container{
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;

}

.reserve-box{
  /*background-color: #f6f6f6;*/
  padding: 0;
  margin-top: 50px;
  box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #cacaca;
  border-radius: 3px;
  padding: 0 30px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.formButton{
  -moz-box-shadow: 0px 0px 14px 0px #71828a;
  -webkit-box-shadow: 0px 0px 14px 0px #71828a;
  box-shadow: 0px 0px 14px 0px #71828a;
  background-color:#3885A1; 
  -moz-border-radius:13px;
  -webkit-border-radius:13px;
  border-radius:4px;
  border:2px solid #275D71;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:14px;
  padding: 0.6em 1em;
  text-decoration:none;
  text-shadow:0px 2px 7px #6d9cd1;
  margin: 5px;
  margin-bottom: 1.2em;
  min-width: 90px;
}
.formButton:hover {
  background-color:#4C91AA;
  text-decoration: none;
}
.formButton:active {
  position:relative;
  top:1px;
  text-decoration: none;
}

.slotButton{
  -moz-box-shadow: 0px 0px 14px 0px #71828a;
  -webkit-box-shadow: 0px 0px 14px 0px #71828a;
  box-shadow: 0px 0px 14px 0px #71828a;
  background-color:#45a4c7;
  -moz-border-radius:13px;
  -webkit-border-radius:13px;
  border-radius:13px;
  border:2px solid #25a7c7;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:14px;
  padding: 0.6em 1em;
  text-decoration:none;
  text-shadow:0px 2px 7px #6d9cd1;
  margin: 5px;
  width:65px;
}
.slotButton:hover {
  background-color:#3caad6;
  text-decoration: none;
}
.slotButton:active {
  /*position:relative;*/
  top:1px;
  text-decoration: none;
}

.legendButton{
  background-color:#45a4c7;
  -moz-border-radius:13px;
  -webkit-border-radius:13px;
  border-radius:13px;
  border:2px solid #25a7c7;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  text-decoration:none;
  margin: 5px;
  
  height:13px;
}
.blue{
  background-color:#45a4c7;
  /*rgb(60, 170, 214)*/
  border:2px solid #25a7c7;
  /*rgb(37,167,199)*/
}
.green{
  background-color:#04CB0E;
  /*rgb(4,203,14)*/
  border:2px solid #04800E;
  /*rgb(4,128,14)*/
}
.red{
  background-color:#FA5858;
  /*rgb(250,88,88)*/
  border:2px solid #8A0808;
  /*rgb(138,8,8)*/
}
.orange{
  background-color:#F7A41F;
  /*rgb(247,164,31)*/
  border:2px solid #F7921F; 
  /*rgb(24,146,31)*/
}
button:focus {
    outline: none;
}

/*Spinner*/
.spinner {
  margin-top: 30px auto 0;
  width: 70px;
  text-align: center;
  margin-bottom: 30px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}