<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css">
    <!-- Local stylesheet -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/storm.css">
    
   <!--  <script src="static/jquery.min.js"></script>
    <script type="text/javascript" src="socket.io.min.js"></script> -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        
    <script>
    
    //Check if no file selected while user tries to upload an image
    function validateForm() {
        var x = document.forms["uploadform"]["FileButton"].value;
        if (x==null || x=="") {
            alert("Please choose a file");
            return false;
        }
    }
    function allbuttonsblock(booleanval) {
        $("#FlashButton").prop("disabled",booleanval);
        $("#switch").prop("disabled",booleanval);
        $("#ping").prop("disabled",booleanval);
        $("#listen").prop("disabled",booleanval);
        $("#logfile").prop("disabled",booleanval);
        $("#FileButton").prop("disabled",booleanval); 
    }

    function tableedit(){
      $.post("/clusterdetails/",{data:$("#selectcluster option:selected").val()},function(result,status){
        clusterid=$("#selectcluster option:selected").val();
        dataformatted=$.parseJSON(result);
        listofnodes = dataformatted['listofnodes'].split(",");
        clusterlist = dataformatted['clusternumbers'].split(",");
        
        var titledata = [['NodeNum', 'Status','Battery']];
        var html = '<table id="table1" class="CSSTableGenerator"><tbody>';
        for (var i = 0, rowNum = listofnodes.length + 1 ; i < rowNum; ++i) {
          html += '<tr>';
          for (var j = 0, colNum = 3; j < colNum; ++j ) {
            if (i==0) {
              html += '<td>' + titledata[i][j] + '</td>';
            }
            else if(j==0){
              html+= '<td>'+ listofnodes[i-1] + '</td>';
            }
            else if (j==1){
              html += '<td id="status'+listofnodes[i-1]+'">Checking....</td>';
            }
            else{
              html += '<center><td id="battery'+listofnodes[i-1]+'"></center></td>';
              
              // panelinit();
              // resetpanels();
            };
          } 
          html += "</tr>";
          }
        html += '</tbody></table>';
        //$(html).appendTo('#table1');
        $('#table1').replaceWith(html);
        
        $('#baseimage').html("</br> Slot 1:"+dataformatted['slot1'].replace(/\n/g, "</br>")+"</br> Slot 2:"+dataformatted['slot2'].replace(/\n/g, "</br>")+"</br> Slot 3:"+dataformatted['slot3'].replace(/\n/g, "</br>"));

        // Update slot info in switch form
        $('#switch_form_data').html("</br></br>"+dataformatted['slot1'].replace(/\n/g, "</br>")+"</br>"+"</br>"+dataformatted['slot2'].replace(/\n/g, "</br>")+"</br>"+"</br>"+dataformatted['slot3'].replace(/\n/g, "</br>"));

        panelinit();
        resetpanels();
        //$("#selectcluster option:selected").val(value);
      });
    }

    function closeDashWarning(){
      return 'Are sure you want to leave?  -- if you leave, the unsaved sniffer log will be lost.'

    }

    $(document).ready(function(){
      //window.onbeforeunload = closeDashWarning;
      $("#bar").hide();
      $('#dash_load').show();

      //Table for Cluster Status
      $.post("/clusterdetails/",{data:{{cluster_number}}},function(result,status){

        dataformatted=$.parseJSON(result);
        listofnodes = dataformatted['listofnodes'].split(",");
        clusterlist = dataformatted['clusternumbers'].split(",");
        
        var titledata = [['NodeNum', 'Status','Battery']];
        var html = '<table><tbody>';
        for (var i = 0, rowNum = listofnodes.length + 1 ; i < rowNum; ++i) {
          html += '<tr>';
          for (var j = 0, colNum = 3; j < colNum; ++j ) {
            if (i==0) {
              html += '<td>' + titledata[i][j] + '</td>';
            }
            else if(j==0){
              html+= '<td>'+ listofnodes[i-1] + '</td>';
            }
            else if (j==1){
              html += '<td id="status'+listofnodes[i-1]+'">Checking....</td>';
            }
            else{
              html += '<center><td id="battery'+listofnodes[i-1]+'"></center></td>';
              // <img src ="/static/full-battery-m.png">
               panelinit();
               resetpanels();
            };
          } 
          html += "</tr>";
          }
        html += '</tbody></table>';
        $(html).appendTo('#table1');
          
        var htmlcluster='<select id="selectcluster" onchange="tableedit()">';
        for (var i = 0; i < clusterlist.length; i++) {
          htmlcluster+='<option value="'+clusterlist[i]+'">'+clusterlist[i]+'</option>';
        };
        htmlcluster+='</select>';  
        $(htmlcluster).appendTo('#clusternumbers');
        clusterid=$("#selectcluster option:selected").val();
        
        // Update slot info in basestation console
        $('#baseimage').html("</br> Slot 1:"+dataformatted['slot1'].replace(/\n/g, "</br>")+"</br> Slot 2:"+dataformatted['slot2'].replace(/\n/g, "</br>")+"</br> Slot 3:"+dataformatted['slot3'].replace(/\n/g, "</br>"));

        // Update slot info in switch form
        $('#switch_form_data').html("</br></br>"+dataformatted['slot1'].replace(/\n/g, "</br>")+"</br>"+"</br>"+dataformatted['slot2'].replace(/\n/g, "</br>")+"</br>"+"</br>"+dataformatted['slot3'].replace(/\n/g, "</br>"));
        
         if(("{{admin}}".indexOf("False"))>=0){
          $('#selectcluster').val("{{cluster_number}}");
        $('#selectcluster').hide();

          panelinit();
          resetpanels();
          $('#dash_load').hide();
        // alert("You have been allocated cluster {{cluster_number}}");
      }
              //Flash Initiated
      // if ($("#consolebox").text().indexOf("Flash Initiated")>=0)
      if (("{{flashstarted}}").indexOf("True")>=0) 
      {
        // Once flash initiated:
        //Disable all buttons...trust me...it's for their own good..
        $("#FlashButton").prop("disabled",true);
        $("#bar").show();
        allbuttonsblock(true);

      $.post("/flashnode/",{data:'dummydata',clusterid:clusterid},function(result, status){

      });
      }
      else{
        $("#bar").hide();
         // isclusteralive();  
        // Un-comment for actual working^
      }
      
      });

      

      function isclusteralive (argument) {
        allbuttonsblock(true);
        var count=0;
        var intervalcluster=setInterval(function(){
          if(count==(listofnodes.length-1)){
            clearInterval(intervalcluster);
          }
          $.post("/cluster_status/",{data:listofnodes[count],clusterid:clusterid},function(result,status){
            
        });
          count++;
        }
        ,1000);
      }

      
      /*-------------------- EXPANDABLE PANELS ----------------------*/
        var panelspeed = 300; //panel animate speed in milliseconds
        var totalpanels = 3; //total number of collapsible panels
        var defaultopenpanel = 0; //leave 0 for no panel open
        var accordian = true; //set panels to behave like an accordian, with one panel only ever open at once      
 
        var panelheight = new Array();
        var currentpanel = defaultopenpanel;
        var iconheight = parseInt($('.icon-close-open').css('height'));
        var highlightopen = true;
 
        //Initialise collapsible panels
        function panelinit() {
                for (var i=1; i<=totalpanels; i++) {
                    panelheight[i] = parseInt($('#cp-'+i).find('.expandable-panel-content').css('height'));
                    $('#cp-'+i).find('.expandable-panel-content').css('margin-top', -panelheight[i]);
                    if (defaultopenpanel == i) {
                        $('#cp-'+i).find('.icon-close-open').css('background-position', '0px -'+iconheight+'px');
                        $('#cp-'+i).find('.expandable-panel-content').css('margin-top', 0);
                    }
                }
        }
 
        $('.expandable-panel-heading').click(function() {
            var obj = $(this).next();
            var objid = parseInt($(this).parent().attr('ID').substr(3,2));
            currentpanel = objid;
            if (accordian == true) {
                resetpanels();
            }
 
            if (parseInt(obj.css('margin-top')) <= (panelheight[objid]*-1)) {
                obj.clearQueue();
                obj.stop();
                obj.prev().find('.icon-close-open').css('background-position', '0px -'+iconheight+'px');
                obj.animate({'margin-top':0}, panelspeed);
                if (highlightopen == true) {
                    $('#cp-'+currentpanel + ' .expandable-panel-heading').addClass('header-active');
                }
            } else {
                obj.clearQueue();
                obj.stop();
                obj.prev().find('.icon-close-open').css('background-position', '0px 0px');
                obj.animate({'margin-top':(panelheight[objid]*-1)}, panelspeed);
                if (highlightopen == true) {
                    $('#cp-'+currentpanel + ' .expandable-panel-heading').removeClass('header-active');
                }
            }
        });
 
        function resetpanels() {
            for (var i=1; i<=totalpanels; i++) {
                if (currentpanel != i) {
                    $('#cp-'+i).find('.icon-close-open').css('background-position', '0px 0px');
                    $('#cp-'+i).find('.expandable-panel-content').animate({'margin-top':-panelheight[i]}, panelspeed);
                    if (highlightopen == true) {
                        $('#cp-'+i + ' .expandable-panel-heading').removeClass('header-active');
                    }
                }
            }
        }
        
       //Uncomment these lines if the expandable panels are not a fixed width and need to resize
        $( window ).resize(function() {
          panelinit();
        });
 
        $(window).load(function() {
            panelinit();
        }); //END LOAD


      var socket = io.connect('http://' + document.domain + ':' + location.port + '/listen');
      $("#stoplisten").hide();
      socket.emit("listen","Hello");
      socket.on('my response', function(msg) {
      $('#consolebox').append('<p>Received: ' + msg + '</p>');
      $('#consolebox').scrollTop($('#consolebox')[0].scrollHeight);
      });

      socket.on('usbbasepath', function(msg) {
        dataformatted=$.parseJSON(msg);
        $('#baseimage').html("</br>"+dataformatted['baseimagedata'].replace(/\n/g, "</br>"));
        $('#consolebox').html(dataformatted['consoledata'].replace(/\n/g, "</br>"));
        // console.log(dataformatted);
      });

      socket.on('ping', function(msg) {
        dataformatted=$.parseJSON(msg);
        $('#status'+dataformatted['1']).html(dataformatted['0']);
        if (dataformatted['1'] == listofnodes[listofnodes.length-1]){
          allbuttonsblock(false);
        }
      });

      socket.on('switch',function(msg){
        dataformatted=$.parseJSON(msg);
        $('#baseimage').html("</br>"+dataformatted['baseimagedata'].replace(/\n/g, "</br>"));
        $('#consolebox').html(dataformatted['consoledata'].replace(/\n/g, "</br>"));
      });

      socket.on('flash',function(msg){
        dataformatted=$.parseJSON(msg);

        $("#consolebox").append(dataformatted['data'].replace(/\n/g, "</br>"));
        if (dataformatted['data'].indexOf("initiated")>=0) {
          $.post("/ackreceived/",{data:'dumydata',clusterid:clusterid},function(result,status){
            allbuttonsblock(false);

          });  
        } else{
          alert("Flash not started");
        };
      });

      socket.on('ackreceived',function (msg) {
        $("#consolebox").append("Node no."+msg+" flashed succesfully!</br>");
        $("#bar").hide();
        allbuttonsblock(false); 
      });

      socket.on('batterystatus',function(msg){
        dataformatted=$.parseJSON(msg);
        id=parseInt(dataformatted['nodeid']);
        batteryvalue=parseInt(dataformatted['batterystatus'],16)/4096;
        // $("#battery"+id).html('<div>'+batteryvalue.toFixed(2)*100+'%'+'<img src ="/static/full-battery-l.png"></div>');
        $("#battery"+id).html('<div><center style="max-height:48px"><img src ="/static/full-battery-l.png"><DIV STYLE="position:relative; top:-40px;width:20px;left:6px;max-height:48px">'+batteryvalue.toFixed(2)*100+'%'+'</center></div>');
        panelinit();
        resetpanels();
      });

      socket.on('activity',function(msg){
        $('#dash_load').hide();
        alert("Downloading file");
        window.location.href="/"+msg;

      });
      
      $("#ping").click(function(){
        for (var i = 0; i < listofnodes.length; i++) {
         $('#status'+listofnodes[i]).html('Checking...');
         $('#battery'+listofnodes[i]).html('');
        };
        $('#ping').prop("disabled",true);
        isclusteralive();
      });

      $("#listen").click(function(){
        $.post( "/startlisten/",{data:'dummydata',clusterid:clusterid});
        $("#stoplisten").show();
        $("#listen").hide();
      });

      $("#stoplisten").click(function(){
        $.post("/stoplisten/",{clusterid:clusterid});
        $("#listen").show();
        $("#stoplisten").hide();
      });
    
      $("#activity").click(function(){
        $('#dash_load').show();
        $.post("/activity/",{clusterid:clusterid});
        
      });

     $("#formswitch").submit(function(event) {
      $('#baseimage').html('<p>Switching to image number: ' + $('input[name=imagenumberswitch]:checked', '#formswitch').val() + '</p>......');
      /* stop form from submitting normally */
      event.preventDefault();
      /* get some values from elements on the page: */
      var $form = $( this ),
          url = $form.attr('action');
      /* Send the data using post */
      var posting = $.post( url, { imagenumberswitch: $('input[name=imagenumberswitch]:checked', '#formswitch').val(),clusterid:clusterid} );
      var interval = setInterval(function() {
          {
           $('#baseimage').append('.');
          }
        },500
      );
      /* Alerts the results */
      posting.done(function( data ) {
        clearInterval(interval);
      });
    });
    
    // Setting the filename for the listen logfile according to time
    var time = $.now();
    $("#logfile").click(function(){
      $.post("/savelog/",{filedata:$("#consolebox").html(),filename:"log-"+time+".txt"},function(result,status){
         window.location.href = 'uploads/log-'+time+".txt";
      });
    });
});
    </script>
  </head>

  <body>
   <div class="dash-container">
    <div class="dash-box">
      <div class="header">
        <h1 class="dash">Testbed Cluster Control Panel</h1>
        <center>
          <div class="spinner" id="dash_load">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
          </div>
        </center>  
       </div>

        <center><h2>Welcome {{email}} !</h2> 
          <button style="float:left" id="activity" class="formButton">Activity Log</button>
          <button style="float:right" id="Signout" onclick="window.location.href='/signout'" class="formButton" title="Logout">Logout</button>

          </center>
          <center>
            <h6>You have been allocated Cluster {{cluster_number}}.</h6>
          </center>
        
      
      <hr/>
      
      <!-- Upload and flash code -->
      <div class="expandable-panel" id="cp-1">
        <div class="expandable-panel-heading">
          <h2><b>Upload</b><span class="bar" id="bar"></span><span class="icon-close-open"></span></h2>
        </div>

        <div class="expandable-panel-content">
        </br>
          Upload relevant tos_image.xml file 
          
          </br>
          </br>
          <div>
          <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" name="uploadform">
            <input type="file" name="file" id="FileButton" name="FileButton"></br>
            Choose slot number:
            <input type="number" name="imagenumber" min="1" max="3" value="1">
            <input type="submit" value="Flash" id="FlashButton" class="formButton">
          </form>
        </div>
          </br>
          
          

        </div>
      </div>

      <hr/>

      <!-- Ping remote nodes -->
      <div class="expandable-panel" id="cp-2">
        <div class="expandable-panel-heading">
          <h2><b>Cluster Info</b><span class="icon-close-open"></span></h2>
        </div>

        <div class="expandable-panel-content">
          <h4>Cluster Details:</h4>
          <div id="clusternumbers"></div>
          <center>
          </br>
          <div id="table1" class="CSSTableGenerator"></div>
          </br>
          </br>
      
        <button name="ping" id="ping" class="formButton">Ping All Nodes</button>
        </center>
        </br>
        </br>
        <h4>Basestation Details:</h4>
        <p>
        </br>
          <!-- Status: -->

          <center>
          <div class="baseimagebox" id="baseimage">
          </br>
            {{baseimagedata}}
          </div>
        <!-- Data coming from tos-deluge -p of basestation -->
      </br>
    </center>
      <h4>Switch Image Slots:</h4>
       <!-- Switch images on all remote nodes -->
       </br>
       <center>
       <form action="/switch/" id="formswitch" name="formswitch" class="form-switch">
        Please select image number to switch to:
       </br>
        <span class="span-switch">
          <input style="margin-bottom: 53px;" type="radio" name="imagenumberswitch" value="1" checked>Slot 1</input></br>
          <input style="margin-bottom: 54px;" type="radio" name="imagenumberswitch" value="2">Slot 2</input></br>
          <input style="margin-bottom: 60px;" type="radio" name="imagenumberswitch" value="3">Slot 3</input>
        </span>
          <span id="switch_form_data" class="span-switch-data"></span>
        </br>
        <input type="submit" value="Switch" id="switch" class="formButton"></input>
        </form>
        </br>
        </center>
        </br>  
        </div>
      </div>
      <hr/>

      
      <!-- Run Packet Sniffer on Basestation  -->
      <div class="expandable-panel" id="cp-3">
        <div class="expandable-panel-heading">
          <h2><b>Packet Sniffer</b><span class="icon-close-open"></span></h2>
        </div>

        <div class="expandable-panel-content">
        </br>
          Start the sniffer:
          <button name="listen" id="listen" class="formButton">Listen</button>
          <button name="stoplisten" id="stoplisten" class="formButton">Stop Listen</button>
          </br>
          
          <button id="logfile" class="formButton"> Download data to file</button>
          </br>
          </br>
        </div>
      </div>
      
      </br>
      
  </br>
      <div class="console" id="consolebox" style="overflow:scroll; height:350px;">
        {{consoledata}}
      </div>
      </br>
      </br>
    </div>
  </div>
  </div>
  </body>
</html>