<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/storm.css">
  </head>
  <body>
   
   
  <div class="container reserve-container">
    <div class="reserve-box">
      <div class="header">
        <center><h1>Welcome to the Testbed!</h1>
          </center>

      </div>
      <center>
        <img src="http://3.bp.blogspot.com/-ScQsK1ew_DU/TuQ5BqLnikI/AAAAAAAAAAc/rqfEEZpPljI/s1600/telosb.jpg" class="resize">
      <div>
        
        <button class="formButton" title="Login" onclick="window.location.href='waiting' ">Log in</button>
        
       <button class="formButton" title="Register" onclick="window.location.href='register'" style="margin-left:15px; display:inline-block">
        Register</button>
        <button id="Signout" onclick="window.location.href='/admin'" class="formButton" title="Admins" style="float:right;">Admins</button>
      </center>


           
      
    </div>
    </div>
  </body>
</html>
 