<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/storm.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Reserve your timeslot!</h3>

      </div>
      <hr/>
      <div>
        <a href="/dashboard" class="formButton" title="Testbed">Log in to Testbed</a>
        <a href="/admins" class="formButton" title="Admins">Admin Controls</a>
     

       </div>  
      </form>
      </div>
    </div>
  </body>
</html>
 