<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="/static/storm.css">
  <link rel="stylesheet" href="/static/flipclock.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/static/flipclock.min.js"></script>
  <script>


  function res_date_chosen(){
    // alert($('#res_date').val());

    for(var i=0;i<25;++i){
      // Set Blue
      $('#slot'+i).css('background-color','rgb(60, 170, 214)');
      $('#slot'+i).css('border','2px solid rgb(37,167,199)');
      $('#slot'+i).prop('disabled',false);
    }

    $.post('/get_registration/',{date_reserved:$('#res_date').val(),cluster_number: $('#selectlist_cluster option:selected').val(),pagename:'waiting'
  },function(result,status){
        data_formatted=$.parseJSON(result);
        var blocked_slots=data_formatted['slotsreserved'].split(',');
        var list_of_nodes = data_formatted['listofnodes'];
        var slotsforme = data_formatted['slotsreservedforme'].split(',');
        next_slot = data_formatted['next_slot_delta'];

        if (next_slot == "90000"){
        
          alert("You do not have a slot today in this cluster");
      }else{
        $('#clock').show();
        clock.setTime(next_slot);
        clock.setCountdown(true);
        clock.start();
      };

        for (var i=0; i< blocked_slots.length; i++){
          // RED
          $('#slot'+blocked_slots[i]).css('background-color','#FA5858');
          $('#slot'+blocked_slots[i]).css('border','2px solid #8A0808');
          $('#slot'+blocked_slots[i]).prop('disabled',true);
        }
        for (var i=0; i< slotsforme.length; i++){
          // Green
          $('#slot'+slotsforme[i]).css('background-color','rgb(4,203,14)');
          $('#slot'+slotsforme[i]).css('border','2px solid rgb(4,128,14)');
          $('#slot'+slotsforme[i]).prop('disabled',true);
        }
        var html='<div id ="node_list">List of Nodes in cluster: '+list_of_nodes+'</div>';
        $('#node_list').replaceWith(html);
      });
  }


    $(document).ready(function(){

    $('#dash_button').prop('disabled',true);
    $('#clock').hide();            

      clock = $('.clock').FlipClock({
            clockFace: 'HourlyCounter',
            autoStart: false,
            callbacks: {
              stop: function() {
                alert("It's your slot!")
                // Allow user to go to dashboard
            $('#dash_button').prop('disabled',false);
              }
            }
        });
         

      $.post('/get_registration/',{
        date_reserved:'{{server_date}}',
        cluster_number:'1',
        pagename:'waiting'},function(result,status){
        data_formatted = $.parseJSON(result);
        var blocked_slots=data_formatted['slotsreserved'].split(',');
        var cluster_numbers = data_formatted['clusternumbers'];
        var list_of_nodes = data_formatted['listofnodes'];
        var slotsforme = data_formatted['slotsreservedforme'].split(',');
        next_slot = data_formatted['next_slot_delta'];


        if (next_slot == "90000"){
          $('#clock').hide();
          alert("You do not have a slot today in this cluster");

      }else{
        $('#clock').show();
        clock.setTime(next_slot);
        clock.setCountdown(true);
        clock.start();
      };

        var html = '<select id="selectlist_cluster" onchange="res_date_chosen()">';

        for(var i=0;i<cluster_numbers.length;i++){
          html+='<option value = "'+cluster_numbers[i]+'">'+cluster_numbers[i]+'</option>';
        }
        html+='</select>';
        $(html).appendTo('#select_cluster');
        $('#node_list').append(list_of_nodes);
        for (var i=0; i< blocked_slots.length; i++){
          // RED
          $('#slot'+blocked_slots[i]).css('background-color','#FA5858');
          $('#slot'+blocked_slots[i]).css('border','2px solid #8A0808');
          $('#slot'+blocked_slots[i]).prop('disabled',true);
        }
        for (var i=0; i< slotsforme.length; i++){
          // Green
          $('#slot'+slotsforme[i]).css('background-color','rgb(4,203,14)');
          $('#slot'+slotsforme[i]).css('border','2px solid rgb(4,128,14)');
          $('#slot'+slotsforme[i]).prop('disabled',true);

        }
      });
      
      //Table for Reservations
      // var titledata = [['NodeNum', 'Status',]];
      var slot_values = ["0000"];

      for(var i=1; i<25; i++){
        if (i < 10)
        {
          slot_values.push("0"+i+"00");
        }
        else if (i == 24){
          slot_values.push("0000");
        }

        else 
          slot_values.push(i+'00');
        
        
      }

      var html = '<table><tbody>';
      for (var i = 0, n=1, rowNum = 4; i < rowNum; i++) {
        html += '<tr>';
        for (var j = 0, colNum = 6; j < colNum; ++j,++n ) {
         
            html += '<td><button class="slotButton" id="slot'+n+'" title="slot'+n+'">'+ slot_values[n-1] +'-'+ slot_values[n] +'</button></td>';
          
        }

        html += "</tr>";
        }
      html += '</tbody></table>';
      $(html).appendTo('#res_table');
    });



      </script>
  </head>



  <body>
  <div class="container reserve-container">
    <div class="reserve-box">
      
   <div class="header">
        <h1>Now we wait..</h1>
        <h2>View Reservations:</h2>
   </div>
      
    </br>
      <div>
        Date:
        <input type="date" id="res_date" value="{{server_date}}" onchange="res_date_chosen()">   </input>
      </br>
        
        <div id="select_cluster">Choose a cluster: </div> 
        <div id ="node_list">List of Nodes in cluster: </div>

        </br>
        <center>
        <div id="res_table">(Begin Time - End Time in 24hr format)</div>
      </br>
      
      <div>
        
      </br>
      <button id ="dash_button" class="formButton" onclick="window.location.href='/dashboard'">Go to Dashboard</button>
      <button id ="res_button" class="formButton" onclick="window.location.href='/reserve'">Reserve another slot</button>
      <button id="Signout" onclick="window.location.href='/signout'" class="formButton" title="Logout">Logout</button>
      <div class="clock" style="margin:2em; margin-left:100px" id="clock">Before your slot opens up:</div>
      </div>
      </center>     
      
    </div>
    <center></center>
  </body>
</html>
 